# Created by .ignore support plugin (hsz.mobi)
lib/
.idea/dataSources.local.xml
.idea/httpRequests/
.idea/libraries/Maven__org_jetbrains_annotations_13_0.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_3_21.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_21.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_21.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_21.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_test_1_3_21.xml
.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_test_common_1_3_21.xml
.idea/libraries/cdi_api.xml
.idea/workspace.xml
out/
target/
/.idea/dataSources/10e169ef-71c4-41ce-a23b-498dbedb2a6a/storage_v2/_src_/schema/crs.5IEBAA.meta
/.idea/dataSources/10e169ef-71c4-41ce-a23b-498dbedb2a6a.xml
/.idea/httpRequests/http-requests-log.http
/Mobile-Royal-Stats-Server.iml
/.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
